<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="GestionFuncionariosDB"
             connectionString="Server=.;Database=GestionFuncionarios;User Id=;Password=;TrustServerCertificate=True;"
             providerName="Microsoft.Data.SqlClient" />
    </connectionStrings>
</configuration>
